.home-page {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1538481199705-c710c4e965fc?auto=format&fit=crop&w=1600&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 15px #00ffff, 0 0 30px #ff00ff;
  font-family: "Orbitron", sans-serif;
  text-align: center;
}
